/* ---->General Styles */
.container > .row {
  margin-bottom: 5rem;
}

body {
  margin-top: 5rem;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---->Navbar */
.navbar-brand > img {
  width: 55px;
}

.navbar-main .active {
  text-decoration: underline wavy;
  text-decoration-color: #632ce7;
  text-underline-offset: 9px;
}

/*----->Header*/
.header-main {
  height: initial;
}

/*----->Form*/
.container-form {
  position: relative;
  width: 100%;
  height: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
}

.contact-box {
  max-width: 850px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  grid-template-columns: 1fr;
}

.left {
  background: url("https://www.creativeboom.com/uploads/articles/48/48232bd080efd8bff96177b78e2d2bdd7b8a2bec_810.jpg") no-repeat center;
  background-size: cover;
  height: 200px;
  transition: 1s filter;
}
.left:hover {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all 0.8s ease-in-out;
}

.right {
  padding: 25px 40px;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}
.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

/*---- BUTTON*/
.btn {
  appearance: none;
  position: relative;
  width: 100%;
  padding: 1em 2em;
  color: rgb(15, 15, 15);
  z-index: 2;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 4px;
  border-radius: 15px;
  background-image: conic-gradient(#488cfb, #29dbbc, #ddf505, #ff9f0e, #e440bb, #655adc, #488cfb);
  -webkit-mask-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
  mask-image: linear-gradient(#000, #000), linear-gradient(#000, #000);
  -webkit-mask-origin: content-box, padding-box;
  mask-origin: content-box, padding-box;
  -webkit-mask-clip: content-box, padding-box;
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

.btn:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}
.btn,
.btn::after {
  box-sizing: border-box;
}

.btn:active {
  --border-width: 5px;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

footer {
  align-items: center;
  margin-top: 3rem;
  color: #632ce7;
}

h3 {
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 765px) {
  body {
    margin-top: 0px;
  }
  .header-main {
    height: 100vh;
  }
  .contact-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .left {
    height: 550px;
  }
  .field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
  }
  .field:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  textarea {
    min-height: 150px;
  }
}

/*# sourceMappingURL=contact.css.map */
